<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yhy.widget">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".core.activity.PreImgActivity"
            android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>
