<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhy.widgetdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AdvActivity" />
        <activity android:name=".activity.TitleActivity" />
        <activity android:name=".activity.RvActivity" />
        <activity android:name=".activity.ETVActivity" />
        <activity android:name=".activity.RIVActivity" />
        <activity android:name=".activity.SwitchButtonActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.PreviewImageActivity" />
        <activity android:name=".activity.PickViewActivity" />
        <activity android:name=".status.StatusActivity" />
        <activity android:name=".status.LayoutActivity" />
        <activity android:name=".status.HelperActivity" />
        <activity android:name=".status.DefActivity" />
        <activity android:name=".activity.SliderActivity" />
        <activity android:name=".activity.CheckedTVActivity" />
        <activity android:name=".activity.SquareIVActivity" />
        <activity android:name=".activity.CheckedRLActivity" />
        <activity android:name=".activity.FlowLayoutActivity" />
        <activity android:name=".activity.TagFlowActivity" />
        <activity android:name=".activity.StepActivity" />
        <activity android:name=".activity.WebHybridActivity" />
        <activity android:name=".activity.ConstraintImageActivity" />
        <activity android:name=".activity.CheckBoxActivity" />
        <activity android:name=".activity.LineTextViewActivity" />
        <activity android:name=".activity.GradientTextViewActivity" />
        <activity android:name=".activity.LoadingDialogActivity" />
        <activity android:name=".activity.InputDialogActivity" />
    </application>

</manifest>